{# Experiment: mobilní hamburger jen na stránce Práce s optikou #}
<div class="work-page-menu" id="work-page-menu">
    <button type="button" class="work-mobile-menu-open work-search-action-btn ui-btn-secondary" id="work-mobile-menu-open" aria-controls="work-mobile-menu-drawer" aria-expanded="false" aria-haspopup="dialog">
        <span class="work-mobile-menu-open__icon" aria-hidden="true">☰</span>
        <span>Menu</span>
    </button>
    <div class="work-mobile-menu-drawer" id="work-mobile-menu-drawer" hidden>
        <div class="work-mobile-menu-drawer__backdrop" data-work-menu-close tabindex="-1" aria-hidden="true"></div>
        <div class="work-mobile-menu-drawer__panel" role="dialog" aria-modal="true" aria-labelledby="work-mobile-menu-title">
            <div class="work-mobile-menu-drawer__head">
                <span id="work-mobile-menu-title" class="work-mobile-menu-drawer__title">Nabídka</span>
                <button type="button" class="work-mobile-menu-drawer__close" data-work-menu-close aria-label="Zavřít">×</button>
            </div>
            <div class="work-mobile-menu-drawer__body">
                {% include '_app_menu_cz.html.twig' %}
            </div>
        </div>
    </div>
    <div class="work-page-menu__desktop">
        {% include '_app_menu_cz.html.twig' %}
    </div>
</div>
