<div class="wh-page-menu" id="wh-page-menu">
    <button type="button" class="wh-mobile-menu-open ui-btn-secondary" id="wh-mobile-menu-open" aria-controls="wh-mobile-menu-drawer" aria-expanded="false" aria-haspopup="dialog">
        <span class="wh-mobile-menu-open__icon" aria-hidden="true">☰</span>
        <span>Menu</span>
    </button>
    <div class="wh-mobile-menu-drawer" id="wh-mobile-menu-drawer" hidden>
        <div class="wh-mobile-menu-drawer__backdrop" data-wh-menu-close tabindex="-1" aria-hidden="true"></div>
        <div class="wh-mobile-menu-drawer__panel" role="dialog" aria-modal="true" aria-labelledby="wh-mobile-menu-title">
            <div class="wh-mobile-menu-drawer__head">
                <span id="wh-mobile-menu-title" class="wh-mobile-menu-drawer__title">Nabídka</span>
                <button type="button" class="wh-mobile-menu-drawer__close" data-wh-menu-close aria-label="Zavřít">×</button>
            </div>
            <div class="wh-mobile-menu-drawer__body">
                {% include '_app_menu_cz.html.twig' %}
            </div>
        </div>
    </div>
    <div class="wh-page-menu__desktop">
        {% include '_app_menu_cz.html.twig' %}
    </div>
</div>
