<ul class="app-menu__list">
    <li><a class="app-menu__nav-link" href="{{ path('warehouse_spool_index') }}">Práce s optikou</a></li>
    {% if is_granted('ROLE_SKLAD_EDIT') %}
        <li><a class="app-menu__nav-link" href="{{ path('warehouse_receipt_index') }}">Příjem kabelu</a></li>
    {% endif %}
    <li><a class="app-menu__nav-link" href="{{ path('warehouse_browse_index') }}">Přehled skladu</a></li>
</ul>
