<div class="app-menu__top">
    <a href="{{ path('app_home') }}">Domů</a>
    {% if is_granted('ROLE_APP_ADMIN') %}
        <a href="{{ path('app_admin_users_index') }}" style="margin-left: .75rem">Správa uživatelů</a>
        <a href="{{ path('app_admin_audit_index') }}" style="margin-left: .65rem">Protokol</a>
    {% endif %}
    <a href="{{ path('app_logout') }}" style="margin-left: .75rem">Odhlásit se</a>
</div>
